body {
    font-family: 'Happy Monkey', cursive;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background: #a2d2ff;
    color: #ffffff;
    text-shadow: 0px 0px 1px black;

}
.image {
    width: 20%;
    border-radius: 50%;
    position: relative;
    height: 170px ;
    overflow: hidden;
    border: 5px solid #EFB0C9;

}